{% extends "layout.html" %}
    {% block content %}
    <div class="goals">
<html>
<head>
	<title>GOALS</title>
</head>
<body>
	<h1>List of goals for this gui</h1>
	<p>***Get Gregs approval***</p>
	<p>1) build an easy to use interface</p>
	<p>2) connect interface to programs that receive info *video stream done already!</p>
	<p>3) connect interface to controller of rover</p>
	<p>4) add sql database to store info from rover</p>
	<p>4) create accounts with privligages</p>
	<p>5) allow gui to be broadcasted so that many users can recieve data</p>
</body>
</div>
{% endblock %}
</html>